In [1]:
import pandas as pd
import numpy as np

In [2]:
name = ["karan","deepa",'karthik','chandan','jeevan']
exam_1 = [85,70,90,75,95]
exam_2 = [90,80,85,70,72]
final_exam = [92,85,88,75,96]

dic = {"name":name,
       "exam_1":exam_1,
       "exam_2":exam_2,
       "final_exam":final_exam}
dic

{'name': ['karan', 'deepa', 'karthik', 'chandan', 'jeevan'],
 'exam_1': [85, 70, 90, 75, 95],
 'exam_2': [90, 80, 85, 70, 72],
 'final_exam': [92, 85, 88, 75, 96]}

In [3]:
data = pd.DataFrame(dic)
data.head()

      name  exam_1  exam_2  final_exam
0    karan      85      90          92
1    deepa      70      80          85
2  karthik      90      85          88
3  chandan      75      70          75
4   jeevan      95      72          96

In [28]:
means_scores = {}
for i in data['name']:
    means_scores[f'{i}_mean'] = data[data['name'] == i ][['exam_1','exam_2','final_exam']].values[0].mean()

In [29]:
means_scores

{'karan_mean': 89.0,
 'deepa_mean': 78.33333333333333,
 'karthik_mean': 87.66666666666667,
 'chandan_mean': 73.33333333333333,
 'jeevan_mean': 87.66666666666667}

# observation 
# All the mean scores of the students are not same and highest mean score of the student is `karan` and his mean_score is `89.0`.